---
layout: endefault
permalink: /en
title: Bob Liao's Blog
---

<article>
<blockquote><p> 
A student under PostGraduate. My research-direction is indoor SLAM with laser and visual sensors. 
</p></blockquote>
</article>

<p style="margin-top:1.2em;margin-bottom:0;"><b>Blogs</b> | Browse by <a href="/archive#tags">Tags</a></p>
<hr>
<table>
{% if site.categories.en %}
{% for post in site.categories.en %}
<tr id="blog-table">
<td>{{ post.date | date: "%Y-%m-%d" }}</td>
<td><a class="post-list-item" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
</tr>
{% endfor %}
{% else %}
<tr id="blog-table">
<td>There haven't been any English blogs yet.</td>
</tr>
{% endif %}
</table>
<hr>
<p>All posts <a href="/archive">archived</a></p>	
